
body{
    padding-left: 200px;
    padding-right: 200px;
}
p{
    color:#384a62;
}
.first-navbar{
    background-color: #f7f6f4;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}
.second-navbar{
    background-color: #ece8d9;
}
.navbar-collapse{
    padding-left: 450px;
}
.logo{
    padding-left: 100px;
}
.nav-link{
    margin-right: 12px;
    font-weight: 600;    
}
.nav-link2{
    padding-left: 70px;
    text-decoration: none;
    font-weight: 600;
}
.cart-logo{
    padding-left: 40px;
}
.sign-in{
    color: #d77f81;
}
.card-hand-div{
    background-color: #ece8d9;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.Quality{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 70px;
    color: #384a62;
    padding-left: 100px;
    margin-bottom: auto;
}
.Shipped{
    color: grey;
    padding-left: 100px;
    /* font-weight: bold; */
}
.search{
    margin-left: 100px;
    width: 80vmin;
    height: 70px;
    border: none;
    padding-left: 20px;
    margin-bottom: 50px;
    background-image: url(image/download\ \(19\).svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}
.search:focus{
    outline: none;
}
.search2{
    padding-left: 100px;
}
.pink-div{
    background-color: #f3b1cd;
    height: 80px;
}
.RAIN20{
    text-align: center;
}
a{
    color: black;
}
ul {
    list-style-type: none;
    padding: 0%;
    color:#384a62;
    font-weight: 600;

}
.first-navbar-text {
    display: flex;
    margin-left: 100px;
}
.track{
    padding-left: 50px;
}
.discover{
    padding-left: 50px;
}
.contact-number{
    color: #1da1f2;
    font-weight: 600;
}
.location{
    border: solid 1px;
    border-radius: 30px;
    padding: 6px;
    border-color: rgba(128, 128, 128, 0.329);
    height: 40px;
}
.nigeria1{
    font-size: small;
    color: gray;
    margin-left:4px ;
}
.ul-1{
    font-size: 13px;
}
.ul-2{
    font-size: 13px;
}
.market-list{
    padding: 100px;
}
.price{
    color: #384a62;
}
.price-button{
    background-color: #d77f81;
    border: none;
    
}
.card-border{
    border: none rgba(128, 128, 128, 0.11) 1px;
    box-shadow: 0px 1px 10px 0px rgba(128, 128, 128, 0.137); 
}
.market-list{
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    padding: 100px;
}
.market-list2{
    border: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    padding: 100px;
}
.popular{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}
.popular-product{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 600;
    color: #384a62;
    border: none;
}
.all-product{
    color: #d77f81;
    font-weight: 500;
    font-size: large;
    border: none;

}
.nigeria{
    padding-left: 100px;
}
.complanies-parent{
    padding-left: 100px;
    padding-top: 50px;
}
.parentfor3{
    padding: 120px;
    background-color: #edf6fd;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}
.child3{
    padding-top: 0%;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.171);
    gap: 20px;
}
.what-customer-say-div{
    padding-left: 100px;
    padding-top: 50px;
    background-color:#edf6fd ;
    margin-top: 80px;
}
.twitter{
    color: #1da1f2;
}
.count-on-us{
    padding-left: 100px;
    padding-top: 100px;
}
.Count-on-us-parent{
    border: none;
    padding: 100px;
    padding: 0%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.count-child{
    border: none;
    width: 500px;
}
.our-amazing-work2{
    background-color:#f7f6f4 ;
}
.our-amazing-work{
    background-color:#f7f6f4 ;
    padding: 100px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.last-div{
    background-color:#384a62 ;
    padding: 100px;
    display: flex;
    color: white;
    overflow: hidden;
    justify-content: space-between;
}
.last-div-text{
    color: white;
    line-height: 30px ;
}
.wheat{
    color: wheat;
}
.payment{
    transform: translateY(-30px);
}

.copyright{
    background-color: #cbcac8 ;
    height: 80px;
    display: flex;
    justify-content: center;
}
.copytext{
    margin: 25px;
}
.cursor-pointer{
    cursor: pointer;

}
.send-message{
    background-color:#f7279e;
    position: fixed;
    bottom:0;
    left: 1%;
    padding: 8px;
    color: white;
    padding-left: 15px;
    padding-right: 30px;
    border: none;
    border-top-left-radius:  5px;
    border-top-right-radius:  5px;
}
.product-pics{
   transition: 0.5s ease-in-out;
}
.product-pics:hover{
   transform: scale(1.1);
   transition: 0.5s;
}

